@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e3f2fd;
}

header {
    text-align: center;
}

header h1 {
    font-size: 2rem;
}

header p {
    font-size: 1.3rem;
    margin-top: 10px;
}

.popup {
    position: absolute;
    left: 50%;
    top: -25%;
    visibility: hidden;
    width: 490px;
    border-radius: 5px;
    padding: 13px 17px 20px;
    background-color: #fff;
    display: flex;
    border-top: 3px solid #ea4d67;
    transform: translateX(-50%);
    box-shadow: 0 10px 25px rgba(52, 87, 220, 0.1);
    transition: all 0.25s ease-out;
}

.popup.show {
    top: 10px;
    visibility: visible;
}

.popup.online {
    border-color: #2ecc71;
}

.popup .icon i {
    width: 40px;
    height: 40px;
    display: flex;
    color: #fff;
    margin-right: 15px;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ea4d67;
}

.popup.online .icon i {
    background: #2ecc71;
}

.popup .title {
    font-size: 1.2rem;
}

.popup .desc {
    color: #474747;
    margin: 3px 0 10px;
    font-size: 1.04rem;
}

.popup .reconnect {
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.95rem;
    padding: 9px 15px;
    border-radius: 4px;
    background-color: #5372f0;
}

.popup.online .reconnect {
    background-color: #bfbfbf;
    pointer-events: none;
}

@media screen and (max-width: 550px) {
    .popup {
        width: 100%;
        padding: 10px 15px 17px;
    }
}